* {
    padding: 0;
    margin: 0;
    color: #484848;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}