header {
    background-color: #FFFFFF;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}

header .logo {
    background-image: url(../images/logo.png);
    background-position: center;
    width: 142px;
    height: 70px;
    float: left;
    margin-left: 20px;
}